@model IEnumerable<CollegeControl.Models.Subjects>

@{
    ViewBag.Title = "Subjects";
}

    <h2>Subjects</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Course
        </th>
        <th>
            Teacher
        </th>
        <th>
            Student
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Courses.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Teachers.Name)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
